#userList .atUserItem
{
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:2px 4px;
	font-size:11px;
	font-weight:bold;
	line-height:30px;
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25)
	white-space:nowrap;
	vertical-align:baseline;
	background-color:#999999;
	border-collapse:separate;
	border-spacing:0;
	margin-top:1px;
}
