.bubble
{
	line-height:30px; 
	padding-left:2em; 
	background:#f3f3f3;
	font-size:15px; 
	position:relative; 
	left: 10px;
}
.bubble-cor
{ 
	width:0;
   	height:0;
   	font-size:0;
	border-style:solid;
	position:absolute; 
}
.bubble-left
{
	border-width:15px;
	border-color:transparent #f3f3f3 transparent transparent;
	left:-27px;
	bottom:50%;
}
.bubble-right
{
	border-width:20px;
	border-color:transparent transparent transparent #f3f3f3;
	right:-25px;
}
