.my-breakpoint-1.ui-grid-b .ui-block-a 
{ 
	width: 20%; 
	margin-right:15%;
}
.my-breakpoint-1.ui-grid-b .ui-block-b
{
   	width: 30%; 
	margin-right:15%;
}
.my-breakpoint-1.ui-grid-b .ui-block-c 
{
   	width: 20%; 
}

.my-breakpoint-2.ui-grid-a .ui-block-a
{
	width : 30%;
}
.my-breakpoint-2.ui-grid-a .ui-block-b
{
	width : 65%;
	margin-left : 5%;
}

a#scan-button
{
	margin : 50px 30% 0 30%;
}

a#view-history
{
	margin-top : 20px;
	float : right;
}

.my-breakpoint-3.ui-grid-b .ui-block-a 
{ 
	width: 30%; 
	margin-right:5%;
}
.my-breakpoint-3.ui-grid-b .ui-block-b
{
	width: 30%;
}
.my-breakpoint-3.ui-grid-b .ui-block-c
{
   	width: 30%; 
	margin-left:5%;
}

.sth-content
{
	height:200px;
	overflow:hidden;
}

.emotion
{
	border: 1px solid;
	border-color: #feeeed;
}

#weibo-content
{
	border: none;
	display: block;
	width: 100%;
	height:200px;
}

/* fixed闪屏 */
.ui-page {   
     backface- visibility :  hidden ;   
     -webkit-backface- visibility :  hidden ;  /* Chrome and Safari */   
     -moz-backface- visibility :  hidden ;  /* Firefox */   
}

