.header_title
{
	font-weight: bold;	
}

.myHeader
{
	text-align:center;
}

.logo 
{
	position: absolute;
	top: 83%;
	left: 57%;
	width: 15%;
	display: inline-block;
}

.logo img 
{
	position: relative;
	height: 50px;	
}

.userName 
{
	font-weight: normal;
	color:#BEBEBE;
	font-size: 12px; 
}

a#scanButton
{
	margin : 50px 30% 20px 30%;
}

a#viewHistory
{
	position: relative;
	left: 55%;
	font-weight: bold;
	color:#778899;
	
}

.myBtn
{
	color:black;
	text-align:center;
	padding:3px;
	width: 40px;
	height: 20px;
	border: 1px solid #d4d4d4;
	background:#F6F4F0;
	border-radius: 5px;	
}

.myBtn.header
{
	top:15px;
	position:relative;
}

.myBtn.middle
{
	left:30px;
	position:relative;
}

a
{
	TEXT-DECORATION:none;
}

.active 
{
	background: #D3D3D3;	
}

.footer_icon {
	width: 30px;
	height: 30px;	
}

.icon_pos {
	font-family: "Microsoft YaHei";
	text-align:center;
}
