.jumptoatUser
{
	font-size:25px;
	color:#434343;
}

#commentBtnContainer
{
	left: 4%;	
	font-weight: bold;
}

#commentBtnContainer img
{
	position:relative;
	display: inline-block;
	width: 25px;
}

#weibo-content
{
	border: none;
	height:200px;
}
