.my-breakpoint-2.ui-grid-a .ui-block-a
{
	width : 30%;
}
.my-breakpoint-2.ui-grid-a .ui-block-b
{
	width : 65%;
	margin-left : 5%;
}

#itemInfo
{
	position: relative;
	display: block;
	height:40%;
	margin-top: 50px;
	overflow: hidden;
	background: #f7f7f7;
	width: 100%;
	border-radius: 5px;
}
.upper {
	position:relative;
	height: 25%;	
	border-bottom: 1px solid #dbdbdb;
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
}
.upper img {
	position: relative;
	width: 45px;
	height: 50px;
	display: inline-block;	
	border-radius: 5px;
	margin-bottom: 5px;
}

#itemInfo .title {
	display: inline-block;
	font-weight: bold;
	font-family: Arial;	
	font-size: 16px;
	position: relative;
	left: 3%;
	top: -20px;
}

.lower {
	width: 90%;
	margin: 0 auto;	
}
.lower p {
	text-intent: 5px;	
}

.intro_footer {
	margin-bottom: 10px;
	margin-top: 5px;	
	display: block;

}

#commentContainer {
	position:relative;
	top:10px;
	width:100%;
	border-bottom: 1px solid #dbdbdb;
	margin: 5px;
}
.commentPart {
	overflow: hidden;	
}

.commentPart .author
{
	width:50px;
	float:left;
}

.commentPart .author img
{
	width:50px;
}

.commentPart .content
{
	margin-left:65px;
}

.commentPart .content .contentInfo
{
	font-size:10px;
	color:#999;
}

.commentPart .content .contentInfo .time
{
	position: relative;
	left: 42%;
}

.commentPart .content .contentText .left
{
	padding:4px 0 4px;
	width: 83%;
	display: inline-block;
}

.commentPart .content .contentText .answer
{
	position:relative;
	display: inline-block;
	top: -14px;
}
.commentPart .content .contentText .answer img {
	width: 18px;	
}
