.my-breakpoint-2.ui-grid-a .ui-block-a
{
	width : 30%;
}
.my-breakpoint-2.ui-grid-a .ui-block-b
{
	width : 65%;
	margin-left : 5%;
}

#itemInfo
{
	height:200px;
}

#itemInfo .title {
	text-align: center;
	font-weight: bold;
	font-family: Arial;	
	height: 20px;
}

#itemInfo .content {
	height:180px;
}

#commentContainer {
	position:relative;
	top:20px;
	width:100%;
}

.commentPart .author
{
	width:50px;
	float:left;
}

.commentPart .author img
{
	width:50px;
}

.commentPart .content
{
	margin-left:65px;
}

.commentPart .content .contentInfo
{
	font-size:10px;
	color:#999;
}

.commentPart .content .contentInfo .time
{
	float:right;
}

.commentPart .content .contentText .left
{
	margin-right:21px;
	padding:4px 0 4px;
}

.commentPart .content .contentText .answer
{
	float:right;
	top:10px;
	position:relative;
}
